<section class="haki-title">
        <div class="title">
            <h1>Hak Kekayaan Intelektual</h1>
        </div>
    </section>

    <section class="haki">
        <div class="container">
            <h4>Dasar hukum</h4>
            <ul>
                <li>Perkembangan Tehnologi Informasi dan telekomunikasi mendorong arus globalisasi perdagangan.</li>
                <li>Perdagangan berperan penting untuk mewujudkan kesejahteraan masyarakat.</li>
                <li>Hasil pemikiran & pengetahuan berperan dalam perdagangan.</li>
                <li>Kekayaan Intelektual erat kaitannya dengan dunia usaha.</li>
                <li>Pembangunan ekonomi berdasarkan ilmu pengetahuan</li>
                <li>Sistem KI akan melahirkan produk-produk berkualitas</li>
                <li>Kreativitas dan Inovasi (smart working)</li>
            </ul>
        </div>
        <div class="container">
            <h4>Hak Eksklusif</h4>
            <ul>
                <li>Bahwa hak tersebut dapat dipertahankan terhadap siapapun. Pemilik hak dapat menuntut terhadap pelanggaran yang dilakukan
                oleh siapapun.</li>
                <li>Pemilik atau pemegang KI mempunyai suatu hak monopoli, yaitu pemilik atau pemegang hak dapat mempergunakan haknya dengan
                melarang siapapun tanpa persetujuannya membuat ciptaan atau temuan, ataupun menggunakannya.</li>
            </ul>
        </div>
        <div class="container">
            <h4>Pendahuluan</h4>
            <ul>
                <li>Perkembangan Tehnologi Informasi dan telekomunikasi mendorong arus globalisasi perdagangan.</li>
                <li>Perdagangan berperan penting untuk mewujudkan kesejahteraan masyarakat.</li>
                <li>Hasil pemikiran & pengetahuan berperan dalam perdagangan.</li>
                <li>Kekayaan Intelektual erat kaitannya dengan dunia usaha.</li>
                <li>Pembangunan ekonomi berdasarkan ilmu pengetahuan.</li>
                <li>Sistem KI akan melahirkan produk-produk berkualitas</li>
                <li>Kreativitas dan Inovasi (smart working)</li>
            </ul>
        </div>
        <div class="container">
            <h4>Pengertian</h4>
            <ul>
                <li>KI adalah kekayaan yang timbul dari hasil olah pikir otak yang menghasilkan suatu produk atau proses yang berguna untuk
                manusia dan diakui oleh negara berdasarkan peraturan perundang-undangan yang berlaku.</li>
                <li>Dari aspek hukum, pada umumnya KI diartikan sebagai suatu perlindungan hukum yang diberikan oleh negara kepada
                seseorang/sekelompok orang atau badan yang idenya dituangkan dalam bentuk suatu karya cipta sehingga menghasilkan suatu
                karya baru.</li>
                <li>Kekayaan Intelektual (KI) atau Intellectual Property(IP) adalah hasil dari kemampuan pikir/kecerdasan (karya, cipta, dan
                karsa) manusia yang mempunyai nilai, termasuk nilai ekonomis.</li>
                <li>KI yang ekonomis sering disebut sebagai Kekayaan tak berwujud bahkan juga disebut Aset Komersial.</li>
                <li>Oleh karena itu, Pemilik KI menganggap perlu adanya perlindungan hukum seperti halnya Kekayaan berwujud.</li>
            </ul>
        </div>
        <div class="container">
            <h4>Pengertian Kelompok</h4>
            <ul>
                <li>Hak Cipta: Hak khusus bagi pencipta maupun penerima hak untuk mengumumkan atau memperbanyak ciptaannya maupun memberi
                ijin, untuk itu dengan tidak mengurangi pembatasan-pembatasan menurut UU. Misalnya: Buku, lagu, Program komputer, dan
                semua karya tulis lain.  *Sumber Hukum : UU Nomor 28 Tahun 2014 tentang Hak Cipta.</li>
                <li>Hak Kekayaan Industri</li>
                <ul>
                    <li>Paten : Hak khusus yang diberikan negara kepada penemu atas hasil penemuannya di bidang teknologi untuk lama waktu
                    tertentu melaksanakan sendiri penemuannya tersebut atau memberikan persetujuannya kepada orang lain untuk
                    melaksanakannya Mis. Klip, mesin, pesawat.</li>
                    <li>Merek : Tanda yang berupa gambar, nama, kata, huruf-huruf, angka-angka, susunan warna, atau kombinasi dari unsur-unsur
                    tersebut yang memiliki daya pembeda dan digunakan dalam kegiatan perdagangan barang dan jasa. Mis: Mc Donal, Nokia, KFC.</li>
                    <li>Rahasia Dagang : Informasi di  bidang Teknologi atau bisnis yang tidak diketahui oleh umum, mempunyai nilai ekonomi
                    karena berguna dalam kegiatan usaha dan dijaga kerahasiaanya oleh pemilik. Mis. KFC McDonal dll</li>
                    <li>Desain Industri : Suatu kreasi tentang bentuk, konfigurasi atau komposisi garis atau warna, atau gabungan daripadanya
                    yang berbentuk tiga dimensi atau dua dimensi yang memberikan kesan ektetis dan dapat diwujudkan dalam pola tiga dimensi
                    serta dapat dipakai untuk menghasilkan suatu produk, barang, komoditas industri, atau kerajinan tangan. Mis: Batik</li>
                    <li>Tata Letak Sirkuit Terpadu : Suatu produk dalam bentuk jadi  atau setengah jadi, yang didalamnya terdapat berbagai
                    elemen dan sekurang-kurangnya satu dari elemen tersebut adalah elemen aktif, yang sebagian atau seluruhnya saling
                    berkaitan serta dibentuk secara terpadu didalam sebuah bahan semikonduktor yang dimaksudkan untuk menghasilkan fungsi
                    elektronik. Mis: Layout key pad handphone.</li>
                </ul>
            </ul>
        </div>
        <div class="container">
            <h4>Ruang Lingkup</h4>
            <ul>
                <li>Secara garis besar WIPO* mengelompokan KI dalam 2 (dua) bagian, yaitu :</li>
                <ul>
                    <li>Hak Cipta (copyright)</li>
                    <li>Hak Kekayaan Industri (Industrial Property Rights)</li>
                    <ul>
                        <li>Paten (Patent)</li>
                        <li>Merek (Trademark) dan Indikasi Geografis</li>
                        <li>Rahasia Dagang (Trade Secret).</li>
                        <li>Desain Industri (Industrial Design)</li>
                        <li>Desain tata letak sirkuit terpadu (circuit layout)</li>
                        <li>Perlindungan Varietas Tanaman (Plant Variety)</li>
                    </ul>
                </ul>
            </ul>
        </div>
        <div class="container">
            <h4>Sifat</h4>
            <ul>
                <li>Mempunyai jangka waktu tertentu -> Artinya setelah habis masa perlindungannya ciptaan atau penemuan tersebut akan menjadi milik umum, tetapi ada pula yang setelah habis masa perlindungannya dapat diperpanjang lagi, misal merek.</li>
                <li>Bersifat Eksklusif dan mutlak -> Artinya hak tersebut dapat dipertahankan terhadap siapapun. Pemilik atau pemegang HKI mempunyai suatu hak monopoli, sehingga dapat melarang siapapun yang menggunaka HKI-nya tanpa ijin.</li>
            </ul>
        </div>
        <div class="container">
            <h4>Sistem</h4>
            <ul>
                <li>Adanya hak privat.</li>
                <li>Sebagai bentuk penghargaan atas hasil karya.</li>
                <li>Sebagai bentuk insentif</li>
                <li>Adanya mekanisme pasar</li>
                <li>Menunjang sistem dokumentasi</li>
                <li>Menunjang kompetisi sehat</li>
                <li>Pemicu kreativitas</li>
            </ul>
        </div>
    </section>