.news-section {
    text-align: center;
    margin-top: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.news-section h1 {
    color: black;
    font-weight: 800;
    margin-bottom: 1rem;
}

.news-section p {
    color: #666;
    margin-bottom: 20px;
}

.news-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    margin-left: 20px;
    margin-right: 20px;
}

.news-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    width: calc(22% - 16px);
    /* Further reduced width to fit four cards in a row with smaller spacing */
}

.news-card img {
    width: 100%;
    height: auto;
}

.news-details {
    padding: 15px;
    text-align: left;
}

.news-category {
    color: #2baf2b;
    font-weight: bold;
}

.news-details h4 {
    margin: 10px 0;
    font-size: 16px;
}

.news-details p {
    color: #999;
    font-size: 14px;
}

/* Media Queries for responsiveness */
@media (max-width: 992px) {
    .news-cards {
        margin-left: 10px;
        margin-right: 10px;
    }

    .news-card {
        width: calc(45% - 16px);
    }
}

@media (max-width: 768px) {
    .news-cards {
        margin-left: 5px;
        margin-right: 5px;
    }

    .news-card {
        width: calc(48% - 16px);
    }
}

@media (max-width: 576px) {
    .news-section {
        margin-top: 8rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .news-cards {
        margin-left: 0;
        margin-right: 0;
    }

    .news-card {
        width: 100%;
        /* Full width on mobile */
        margin: 10px 0;
    }

    .news-details {
        padding: 10px;
    }

    .news-details h4 {
        font-size: 14px;
    }

    .news-details p {
        font-size: 12px;
    }
}