<section class="penelitian">
    <div class="container">
        <h1>Inovasi</h1>
    </div>
    <div class="table-container">
        <table class="tabel-penelitian">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Judul Penelitian</th>
                    <th>Bentuk Inovasi</th>
                    <th>OPD</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>Anjungan Pendaftaran Mandiri</td>
                    <td>Pelayanan Publik</td>
                    <td>RUMAH SAKIT UMUM DAERAH EMPAT LAWANG</td>
                    <td><button class="detail-btn"><a href="litbang-penelitiandetail.html">Detail</a></button></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Anjungan Pendaftaran Mandiri</td>
                    <td>Pelayanan Publik</td>
                    <td>RUMAH SAKIT UMUM DAERAH EMPAT LAWANG</td>
                    <td><button class="detail-btn"><a href="litbang-penelitiandetail.html">Detail</a></button></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Anjungan Pendaftaran Mandiri</td>
                    <td>Pelayanan Publik</td>
                    <td>RUMAH SAKIT UMUM DAERAH EMPAT LAWANG</td>
                    <td><button class="detail-btn"><a href="litbang-penelitiandetail.html">Detail</a></button></td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Anjungan Pendaftaran Mandiri</td>
                    <td>Pelayanan Publik</td>
                    <td>RUMAH SAKIT UMUM DAERAH EMPAT LAWANG</td>
                    <td><button class="detail-btn"><a href="litbang-penelitiandetail.html">Detail</a></button></td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>Anjungan Pendaftaran Mandiri</td>
                    <td>Pelayanan Publik</td>
                    <td>RUMAH SAKIT UMUM DAERAH EMPAT LAWANG</td>
                    <td><button class="detail-btn"><a href="litbang-penelitiandetail.html">Detail</a></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>
</section>