<section class="definisi container">
        <div class="definisi-container">
            <h1>Definisi</h1>
            <p>Kelitbangan adalah rangkaian kegiatan ilmiah yang bertujuan menghasilkan pemahaman baru dan mengembangkan
                penerapan
                praktis nilai dan konteks ilmu pengetahuan yang baru, atau cara baru dalam rangka penyelenggaraan
                pemerintahan dalam
                negeri di lingkungan Kementerian Dalam Negeri (Kemendagri) dan pemerintahan daerah. Didalam kegiatan
                kelitbangan
                terdapat beberapa tahapan pengkajian yang meliputi Penelitian daerah, Pengembangan daerah dan Inovasi
                daerah. </p>
        </div>

        <div class="box">
            <div class="card">
                <h2>Penelitian Daerah</h2>
                <p>Penelitian adalah kegiatan yang dilakukan menurut kaidah dan metode ilmiah secara sistematis untuk
                    memperoleh
                    informasi,
                    data, dan keterangan yang berkaitan dengan pemahaman dan pembuktian kebenaran atau ketidakbenaran
                    suatu asumsi
                    dan/atau
                    hipotesis di bidang ilmu pengetahuan dan teknologi terkait dengan penyelenggaraan pemerintahan dalam
                    negeri dan
                    menarik
                    kesimpulan ilmiah bagi keperluan kemajuan kebijakan pemerintahan.</p>
            </div>
            <div class="card">
                <h2>Pengembangan Daerah</h2>
                <p>Pengembangan adalah kegiatan ilmu pengetahuan dan teknologi yang bertujuan memanfaatkan kaidah dan
                    teori ilmu
                    pengetahuan yang terbukti kebenarannya untuk meningkatkan fungsi, manfaat, dan aplikasi ilmu
                    pengetahuan yang telah
                    ada,
                    atau menghasilkan teknologi baru yang terkait dengan penyelenggaraan pemerintahan dalam negeri.</p>
            </div>
            <div class="card">
                <h2>Inovasi Daerah</h2>
                <p>Banyaknya tuntutan akan regulasi yang jelas terhadap pelaksanaan Inovasi Daerah yang didalamnya
                    terdapat amanat
                    terhadap
                    penilaian dan pemberian penghargaan dan/atau insentif Inovasi Daerah mendorong munculnya Peraturan
                    Pemerintah Nomor
                    38
                    tahun 2017 tentang Inovasi Daerah. Peraturan Pemerintah ini mendefinisikan Inovasi Daerah sebagai
                    semua bentuk
                    pembaruan
                    dalam penyelenggaraan pemerintahan daerah yang ditetapkan dengan peraturan Kepala Daerah</p>
            </div>
        </div>
    </section>

    <section class="prinsip container">
        <div class="judul-prinsip" id="prinsip-title">
            <h2>Prinsip Pengembangan Inovasi Daerah</h2>
        </div>
        <div class="prinsip-list">
            <div class="prinsip-item">
                <h3>1. Peningkatan efisiensi</h3>
                <p>Meningkatkan efisiensi dalam segala aspek pengembangan inovasi daerah.</p>
            </div>
            <div class="prinsip-item">
                <h3>2. Perbaikan efektivitas</h3>
                <p>Memastikan bahwa setiap inovasi dapat berjalan efektif sesuai dengan tujuan yang telah ditetapkan.
                </p>
            </div>
            <div class="prinsip-item">
                <h3>3. Perbaikan kualitas pelayanan</h3>
                <p>Meningkatkan kualitas pelayanan kepada masyarakat melalui inovasi yang diterapkan.</p>
            </div>
            <div class="prinsip-item">
                <h3>4. Tidak ada konflik kepentingan</h3>
                <p>Menghindari adanya konflik kepentingan dalam proses pengembangan dan penerapan inovasi.</p>
            </div>
            <div class="prinsip-item">
                <h3>5. Berorientasi kepada kepentingan umum</h3>
                <p>Mengutamakan kepentingan umum dalam setiap inovasi yang dikembangkan.</p>
            </div>
            <div class="prinsip-item">
                <h3>6. Dilakukan secara terbuka</h3>
                <p>Menerapkan prinsip keterbukaan dalam setiap tahapan inovasi.</p>
            </div>
            <div class="prinsip-item">
                <h3>7. Memenuhi nilai kepatutan</h3>
                <p>Setiap inovasi harus memenuhi nilai kepatutan dan norma yang berlaku.</p>
            </div>
            <div class="prinsip-item">
                <h3>8. Dapat dipertanggungjawabkan hasilnya tidak untuk kepentingan diri sendiri</h3>
                <p>Hasil dari inovasi harus dapat dipertanggungjawabkan dan tidak digunakan untuk kepentingan pribadi.
                </p>
            </div>
        </div>
    </section>

    <section class="definisi container">
        <div class="definisi-container">
            <p class="txt-def">Usulan inisiatif Inovasi Daerah dapat berasal dari Kepala Daerah, anggota DPRD, ASN, perangkat daerah, dan anggota
            masyarakat. Inovasi Daerah dilakukan dalam bentuk Inovasi Tata Kelola Pemerintahan, Inovasi Pelayanan Publik, dan
            Inovasi Daerah Lainnya sesuai bidang urusan pemerintahan yang menjadi kewenangan daerah. Apabila inovasi gagal aparatur
            tidak dipidana, apabila inovasi tersebut dilakukan berdasarkan prinsip-prinsip dalam Undang-Undang dan ditetapkan oleh
            peraturan Kepala Daerah serta dilaporkan kepada Menteri Dalam Negeri. Kriteria Inovasi Daerah harus mengandung
            pembaharuan seluruh atau sebagian unsur dari inovasi; tidak mengakibatkan pembebanan dan/atau pembatasan pada masyarakat
            yang tidak sesuai dengan ketentuan peraturan perundangan-undangan; memberi manfaat bagi daerah dan/atau masyarakat;
            dapat direplikasi; dan merupakan urusan pemerintahan yang menjadi kewenangan daerah.  </p>
        </div>
    </section>

    <section class="prinsip container">
        <div class="judul-prinsip" id="prinsip-title">
            <h2>Persyaratan Inovasi Daerah Secara Umum</h2>
        </div>
        <div class="prinsip-list">
            <div class="prinsip-item">
                <h4>Kegiatan Inovasi Daerah yang diusulkan memiliki kebaharuan dan keunikan sebagian atau keseluruhan.</h4>
            </div>
            <div class="prinsip-item">
                <h4>Kegiatan Inovasi Daerah yang diusulkan minimal telah berjalan 2 tahun, bukan merupakan kegiatan yang sedang direncanakan
                atau sedang dikerjakan.</h4>
                
            </div>
            <div class="prinsip-item">
                <h4>Kegiatan Inovasi Daerah yang diusulkan adalah kegiatan yang dibiayai dengan dana APBD dan/atau dari sumber pembiayaan
                lain yang sah.</h4>
            </div>
            <div class="prinsip-item">
                <h4>Kegiatan Inovasi Daerah yang diusulkan telah memberikan dampak/manfaat bagi daerah dan masyarakat serta bersifat
                keberlanjutan.</h4>
            </div>
        </div>
    </section>