<div class="content">
  <h1>Gebyar Intervensi Serentak Penanggulangan Stunting Tahun 2024</h1>
  <div class="pict-content">
    <img
      src="assets/img/brand/detailberita.png"
      alt="Gebyar Intervensi Serentak Penanggulangan Stunting Tahun 2024"
    />
  </div>
  <p>Gebyar Intervensi Serentak Penanggulangan Stunting Tahun 2024</p>
  <p>Rapat di buka oleh Ij Ketua Tim Penggerak PKK Kota Palembang</p>
  <p>
    Rapat dipimpin oleh Kepala Dinas Kesehatan Kota Palembang (dr. Hj. Fenty
    Aprina, M.Kes)
  </p>
  <p>Dihadiri oleh</p>
  <ol>
    <li>
      Bappeda Litbang Kota Palembang (Kabal PSS Ibu Novarida Sri Puspawati, SH,
      M.Si) Perencana Ahli Muda (Evi Yuliana, ST., M.Si) dan Staf
    </li>
    <li>Dinas Kesehatan Kota Palembang</li>
    <li>Dinas Pengendalian Penduduk dan Keluarga Berencana Kota Palembang</li>
    <li>Camat Sukarame Kota Palembang</li>
    <li>Tim Penggerak PKK Kota Palembang</li>
    <li>Puskesmas Talang Jambe</li>
  </ol>

  <button class="btn-kembali" [routerLink]="['/berita']">Kembali</button>
</div>
