<section class="selayang container">
        <div class="selayang-item">
            <h1>Selayang Pandang</h1>
            <p>Bappeda Litbang Kab. Empat Lawang dibentuk berdasarkan Peraturan Daerah Kab. Empat Lawang Nomor 10 Tahun 2008 sebagaimana
            telah diubah sebanyak 5 (lima) kali terakhir dengan Peraturan Daerah Kab. Empat Lawang Nomor 9 Tahun 2019 tentang Perubahan
            Atas Peraturan Daerah Kab. Empat Lawang Nomor 6 Tahun 2016 tentang Pembentukan dan Susunan Perangkat Daerah Kab. Empat Lawang
            dan Peraturan Bupati Kab. Empat Lawang Nomor 72 Tahun 2016 tentang Susunan Organisasi, Tugas dan Fungsi serta Tata Kerja Badan
            Perencanaan Pembangunan Daerah, Penelitian dan Pengembangan Kota Palembang sebagaimana diubah dengan Peraturan Bupati
            Kab. Empat Lawang Nomor 2 Tahun 2020 tentang Susunan Organisasi, Tugas dan Fungsi serta Tata Kerja Badan Perencanaan Pembangunan
            Daerah, Penelitian dan Pengembangan Kab. Empat Lawang.</p>
            <p>Untuk mengoptimalkan peran Litbang dalam mendukung pembangunan di Kab. Empat Lawang serta mengakomodasi aspirasi masyarakat
            untuk memperoleh informasi hasil litbang maka telah dibangun sistem aplikasi berbasis web yang berisi tentang Aplikasi
            Sistem Informasi Kelitbangan (ASIK) sejak tahun 2019. Aplikasi Sistem Informasi Kelitbangan (ASIK) merupakan suatu media
            atau instrumen untuk fasilitasi, informasi, serta komunikasi kegiatan kelitbangan di Kab. Empat Lawang yang dapat diakses
            oleh pengguna baik akademisi, korporasi, maupun masyarakat umum melalui media daring.</p>
            <p>Menilik pada amanat Peraturan Pemerintah Nomor 38 tahun 2017 tentang Inovasi Daerah, Inovasi Daerah pada hakikatnya
            ditujukan untuk mendukung peningkatan kinerja Pemerintah Daerah dan Pelayanan Publik, secara optimal dalam rangka
            mewujudkan kesejahteraan masyarakat. Sasaran Inovasi Daerah diarahkan untuk mempercepat terwujudnya kesejahteraan
            masyarakat melalui peningkatan Pelayanan Publik, pemberdayaan dan peran serta masyarakat, dan peningkatan daya saing
            Daerah.</p>
            <p>Bappeda Litbang Kab. Empat Lawang merupakan unsur penunjang urusan pemerintahan bidang perencanaan pembangunan daerah dan
            urusan penelitian dan pengembangan yang dipimpin oleh seorang Kepala Badan yang berkedudukan di bawah dan bertanggung
            jawab kepada Bupati Kab. Empat Lawang melalui Sekretaris Daerah Kab. Empat Lawang.</p>
            <p>Bappeda Litbang Kab. Empat Lawang mempunyai tugas membantu walikota dalam melaksanakan fungsi penunjang urusan di bidang
            perencanaan pembangunan daerah, penelitian, dan pengembangan. Untuk melaksanakan tugas pokok tersebut, Bappeda Litbang
            Kab. Empat Lawang menyelenggarakan fungsi: </p>
        </div>
    </section>

    <section class="fungsi container">
        <div class="fungsi-list">
            <div class="fungsi-item">
                <h4>Perumusan kebijakan teknis; </h4>
            </div>
            <div class="fungsi-item">
                <h4>Pelaksanaan kebijakan sesuai dengan lingkup tugasnya; </h4>
            </div>
            <div class="fungsi-item">
                <h4>Penyelenggaraan urusan pemerintahan dan pelayanan umum; </h4>
            </div>
            <div class="fungsi-item">
                <h4>Pelaksanaan evaluasi dan pelaporan sesuai dengan lingkup tugasnya; </h4>
            </div>
            <div class="fungsi-item">
                <h4>Pelaksanaan administrasi badan sesuai dengan lingkup tugasnya; dan  </h4>
            </div>
            <div class="fungsi-item">
                <h4>Pelaksanaan tugas lain yang diberikan oleh walikota sesuai dengan tugas dan fungsinya. </h4>
            </div>
        </div>
    </section>

    <section class="selayang container">
        <div class="selayang-item">
            <p>Per-30 Juni 2020, pegawai Bappeda Litbang Kab. Empat Lawang tercatat sebanyak 86 (delapan puluh enam) orang dengan
            komposisi 57 (lima puluh tujuh) orang ASN dan 29 (dua puluh sembilan) orang Non ASN. Adapun komposisi pegawai
            berdasarkan jenis kelamin, jenjang pendidikan, dan pangkat/golongan ruang dijabarkan pada tabel di bawah ini:</p>
        </div>
    </section>

    <section class="tabel container">
        <div class="tabel-item">
            <h2>Komposisi Pegawai berdasarkan Jenis Kelamin:</h2>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>/</th>
                        <th>ASN</th>
                        <th>Non-ASN</th>
                        <th>Jumlah</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Laki-Laki</td>
                        <td>26</td>
                        <td>12</td>
                        <td>38</td>
                    </tr>
                    <tr>
                        <td>Perempuan</td>
                        <td>31</td>
                        <td>17</td>
                        <td>48</td>
                    </tr>
                    <tr>
                        <td>Jumlah</td>
                        <td>57</td>
                        <td>29</td>
                        <td>86</td>
                    </tr>
                </tbody>
            </table>
    
            <h2>Komposisi Pegawai berdasarkan Jenjang Pendidikan:</h2>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>/</th>
                        <th>ASN</th>
                        <th>Non-ASN</th>
                        <th>Jumlah</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Strata 3 (S3)</td>
                        <td>1</td>
                        <td>0</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Strata 2 (S2)</td>
                        <td>20</td>
                        <td>2</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>Strata 1 (S1)</td>
                        <td>35</td>
                        <td>22</td>
                        <td>57</td>
                    </tr>
                    <tr>
                        <td>Diploma 4 (D4)</td>
                        <td>1</td>
                        <td>1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Diploma 3 (D3)</td>
                        <td>0</td>
                        <td>2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>SMA</td>
                        <td>0</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>SD</td>
                        <td>0</td>
                        <td>1</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Jumlah</td>
                        <td>57</td>
                        <td>29</td>
                        <td>86</td>
                    </tr>
                </tbody>
            </table>
    
            <h2>Komposisi Pegawai berdasarkan Pangkat / Golongan Ruang:</h2>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>/</th>
                        <th>Jumlah</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pembina Utama Muda (IV/c)</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Pembina Tingkat I (IV/b)</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Pembina (IV/a)</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Penata Tingkat I (III/d)</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>Penata (III/c)</td>
                        <td>17</td>
                    </tr>
                    <tr>
                        <td>Pembina Muda Tingkat I (III/d)</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td>Penata Muda (III/a)</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Pengatur Tingkat I (II/d)</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Pengatur (II/c)</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Jumlah</td>
                        <td>57</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>